*.log
*~
._*
**/._*
**/**/._*
**/**/**/._*
cromwell-executions/
cromwell-workflow-logs/
._.DS_Store
downsample-script.submit
/home/credin/scratch/WGS/wdls/imports/workflows/downsample.sh
*.out
imports/config-files/NA12878_full_map.txt
.gitignore
.DS_Store
imports/.DS_Store
.DS_Store
.gitignore
imports/.DS_Store
